.fruit-card {
    width: 317px;
    height: 563px;
    padding: 0px;
    border-radius: 10px;
}

.text-gold-24 {
    font-size: 24px;
    color: #D7B46B;
    margin-bottom: 8px;
}

.text-gold-18 {
    font-size: 18px;
    color: #D7B46B;
    margin-bottom: 8px;
}

.text-gold-16 {
    font-size: 16px;
    color: #2C2C2C;
    margin-bottom: 8px;
}