#root {
  width: 100%;
  padding: 40px 20px;
  text-align: center;
}

.containerFruits {
 padding: 82px 0 156px;
}

.textCard {
  color: #D7B46B;
  font-weight: 400;
  font-size: 24px;
  line-height: 50px;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-top: 6px;
  margin-bottom: 0px;
}

.titleCard {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  margin-bottom: 0px;
}

@media (min-width: 1400px) {
  #root {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px;
  }
}