#root {
  width: 100%;
  padding: 40px 20px;
  text-align: center;
}

.containerFruits {
  padding: 0px;
}

.read-the-docs {
  color: #888;
}

@media (min-width: 1400px) {
  #root {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px;
  }
}